* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    text-align: center;
    gap: 1%;
    padding: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
    gap: 1%;
    justify-content: right;
}

.buttonContainer button {
    width: 100%;
    height: 100%;
    border-radius: 5%;

    background-color: rgb(17, 106, 123);
    color: rgb(221, 230, 229);

    font-family: 'Helvecita Neue Black';
    font-weight: 800;
    font-size: 16px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.popup {
    transition: all 0.5s linear 0s;
}

body.grid {
    grid-template: 10% 80% 10%/1fr;
    justify-content: left;

    padding: 0 2.5%;
    width: 100vw;
    height: 100vh;
}

body>* {
    background-color: rgb(243, 238, 234);
}

header,
main,
footer {
    padding: 0.5%;
}

header>* {
    height: 100%;
}

header > nav{
    width: 50%;
}

header h1 {
    text-align: left;
}

header .buttonContainer button {
    width: 10%;
    height: 50%;
}

main>* {
    background-color: rgb(235, 227, 213);
    justify-content: center;
}

#homeView {
    grid-template: 1fr/1fr 1fr 2fr;
}

#homeView>* {
    grid-template: 5% 1fr/1fr;
}

#homeView ul {
    grid-template: repeat(15, 1fr)/1fr;
}

#homeView ul>* {
    border: 1pt solid black;
}

.dataRow {
    padding: 1%;
}

#searchView {
    grid-template: 100%/1fr 3fr;
}

#searchView aside {
    grid-template: 10% 30% 10%/1fr;
}

#songSearch {
    grid-template: repeat(3, 1fr)/5% 30% 65%;
    align-items: center;
    border: 1pt solid black;
}

#songSearch>* {
    height: 60%;
    padding: 1%;
    background-color: white;
    font-family: 'Segoe UI';
}

#searchView aside button {
    width: 20%;
    height: 40%;
}

#searchView section {
    grid-template: 5% 1fr/1fr;
}

.playlistMenu {
    width: 5%;
    height: 4%;
    left: 90%;
}

.songTable {
    grid-auto-rows: 5%;
    grid-auto-columns: 1fr;
    gap: 0;
    overflow: scroll;
}

.songRow {
    grid-template: 100%/5fr 2fr 1fr 2fr 1fr;
    gap: 0;
    padding: 0;
    text-align: left;

    position: relative;
}

/* .songRow:first-child {
    position: sticky;
    top: 0;
} */

.songHeader,
.resultsField {
    border: 1pt solid white;
    padding: 0 1%;
}

img.orderToggle {
    height: 100%;
}

.tooltip {
    position: absolute;
    left: 1%;
    transition: all 0.5s linear 0s;

    background-color: lightgrey;
}

.ellipse:hover {
    background-color: lightgrey;
}

div.songMenu {
    grid-template: repeat(3, 1fr)/1fr;
    gap: 10%;
    background-color: white;
    left: 35%;
    width: 30%;
    height: 30%;
}

#singleSongView {
    grid-template: 1fr/1fr 1fr;
}

#songInformation{
    grid-template: 5% 2fr 3fr/1fr;
    gap: 2%;
}

#songInformation > *{
    border: 1px solid black;
}

#basicInformation{
    grid-template: repeat(5, 1fr)/1fr;
}

#details{
    grid-template-rows: repeat(4, 1fr);
}

#details >*{
    list-style: none;
    background-color: white;
}

#details label.absolute{
    font-family: 'Arial';
    font-weight: 700;
    color: darkgreen;
}

.progressBar{
    justify-content: center;

    width: 40%;
    height: 100%;
    background-color: lightblue;
}

#analytics{
    grid-template: 5% 1fr/1fr;
    /* height: 95%; */
}

#analytics div{
    height: 95%;
    display: flex;
    justify-content: center;
}

#playlistView {
    grid-template: 15% 1fr/1fr;
}

#playlistDetails {
    grid-template: 1fr/1fr 2fr 2fr;
}

#clearPlaylist {
    top: 20%;
}

span,
.dataRow {
    background-color: rgb(176, 166, 149);

    font-family: "Verdana";
}

h2 {
    font-family: "Arial";
    font-size: 24px;
}

.songHeader>* {
    font-family: "Helvetica";
    font-weight: 600;
}

#playlistDetails>div {
    font-family: "Helvetica";
    font-weight: 600;
    font-size: 24px;
}

#playlistDetails span {
    background-color: rgb(235, 227, 213);
    color: coral;
}

button,
.pointer {
    cursor: pointer;
}

.underline:hover {
    /* background-color: lightblue; */
    text-decoration: underline;
    color: blue;
}

.notification {
    position: fixed;
    background-color: rgb(148, 212, 126);
    left: 40%;
    width: 20%;
    height: 5%;

    padding-top: 1%;
}

.overlay {
    position: absolute;
    background-color: rgb(250, 112, 112);

    grid-template-rows: 1fr 1fr;
    left: 91.5%;
    top: 60%;
    width: 8%;
    height: 100%;
    padding: 1%;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

.visible {
    opacity: 1;
    z-index: 1;
}

main.hidden {
    display: none;
}